
params {
    dremio {
        hostname = 'tlvidreamcord1'
        port = 32010
        scheme = 'grpc+tcp'
        space = 'OCRA.archive'
        table = 'matched_QC_case_breakdown'
    }
}

aws {
    accessKey = secrets.LARGE_ACCESS_KEY
    secretKey = secrets.LARGE_SECRET_KEY
    client {
        endpoint = "https://pllimsksparky3:9006"
        s3PathStyleAccess = true
    }
}

azure {
    storage {
        accountName = "nextflowtest"
        accountKey = secrets.AZURE_STORAGE_KEY
    }
    batch {
        location = 'eastus2'
        accountName = 'ocra'
        accountKey = secrets.AZURE_BATCH_KEY
        autoPoolMode = true
        allowPoolCreation = true
        deletePoolsOnCompletion = true
        pools {
            auto {
                autoScale = true
                vmType = 'Standard_NC6s_v3'
                vmCount = 5
                maxVmCount = 10
            }
        }
    }
}

profiles {
    standard {
        memory = 36.GB

        process {
            executor = 'local'

            withLabel: parallelTask {
                cpus = 16
            }

            params {
                use_singularity = true
                stardist_image = '/gpfs/mskmind_ess/limr/repos/workflows2/qupath-stardist_0.4.3a.sif'
            }

        }
    }

    docker {
        docker.enabled = true
        process {
            container = "mskmind/luna:current"
            containerOptions = "--user root"
            withLabel: qupathTask {
                container = 'mskmind/qupath-stardist:current'
            }
        }
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
        env.TORCH_HOME = "torch"
        process {
            // container = "docker://mskmind/luna:current"
            container = '/gpfs/mskmind_ess/limr/repos/luna/luna-current.sif'
            containerOptions = "--env PREPEND_PATH=/opt/conda/bin"
            withLabel: qupathTask {
                // container = "docker://mskmind/qupath-stardist:current"
                container = '/gpfs/mskmind_ess/limr/repos/luna/qupath-stardist-current.sif'
                containerOptions = ""
            }
        }
    }

    conda {
        conda.enabled = true
        process.conda = "/gpfs/mskmind_ess/limr/repos/luna/.venv/luna"
    }

    cluster {
        process {
            executor = 'condor'
            withLabel: smallTask {
                memory = 12.GB
            }

            withLabel: bigTask {
                memory = 30.GB
            }

            withLabel: gpuTask {
                clusterOptions = "request_gpus=1"
            }

            withLabel: parallelTask {
                cpus = 16
            }

            withLabel: localTask {
                executor = 'local'
            }

        }
    }

    cloud {
        process {
            executor = 'azurebatch'
            containerOptions = "--user=root --ipc=host"

            memory = 16.GB

            withLabel: parallelTask {
                cpus = 6
            }
            withLabel: localTask {
                executor = 'local'
            }
        }
    }
}

